<div class="index-header" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <h2><strong>CooKit</strong></h2>
        <h2><strong>Java</strong> Provisining Tooling based on Java 8 <string>lambdas</string>.</h2>
        <div class="buttons">
          <a class="btn btn-default btn-lg" href="download.html" role="button"><i class="entypo-install"></i> Download Now!</a><br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container highlight">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Java for your Provisioning Recipes!</h2>
      <p>CooKit is created to provide a Java based provisioning tool allowing you to write recipes 100% in Java.</p>
    </div>
  </div>
</div>

<div class="highlight highlight-polyglot">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 code-samples">
        <!-- code samples -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#codesample1" data-toggle="tab">Hello Recipe</a></li>
          <li class="active"><a href="#codesample2" data-toggle="tab">Simple Tomcat Recipe</a></li>
          <li><a href="#codesample3" data-toggle="tab">CDI Recipe</a></li>
          <li><a href="#codesample4" data-toggle="tab">Run a Recipe</a></li>
          <li><a href="#codesample5" data-toggle="tab">Change your recipe with the machine</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="codesample1">
            <pre class="prettyprint"><code class="java">import com.github.rmannibucau.cookit.api.recipe.Recipe;

public class TomcatRecipe extends Recipe {
  @Inject
  @Value(key = "tomcat.base", or = "/usr/share/tomcat")
  private String base;

  @Inject
  @Value(key = "tomcat.tmp", or = "/tmp/tomcat")
  private String tmpDir;

  @Inject
  @Value(key = "tomcat.target")
  private String zip;

  @Override
  public void configure() {
    id("tomcat");

    configuration((configuration, node) -> {
      configuration.put("cookit.maven.artifacts", "tomcat");
      configuration.put("tomcat.coords", "org.apache.tomcat:tomcat:zip:8.0.20");
      configuration.put("tomcat.target", Paths.get(tmpDir, "tomcat-recipe/tomcat.zip").toFile().getAbsolutePath());
    });
  }

  @Override
  public void recipe() {
    include(MavenRecipe.class);
    unzip(zip, base, true);
    rmDir(tmpDir);
  }
}</code></pre>
          </div>
          <div class="tab-pane active" id="codesample2">
            <pre class="prettyprint"><code class="java">import com.github.rmannibucau.cookit.api.environment.Value;
import com.github.rmannibucau.cookit.api.recipe.Recipe;
import com.github.rmannibucau.cookit.maven.recipe.MavenRecipe;

public class TomcatRecipe extends Recipe {
  @Inject
  @Value(key = "name", or = "CooKit")
  private String name;

  @Override
  public void recipe() {
    System.out.println("Hello " + name);
  }
}</code></pre>
          </div>

          <div class="tab-pane" id="codesample3">
            <pre class="prettyprint"><code class="java">import com.github.rmannibucau.cookit.api.recipe.RecipeBuilder;

public class HelloRecipe extends Recipe {
  @Override
  protected void configure() {
    task((MyCdiBean bean) ->
          System.out.println("Hello " + bean.name()));
  });
}</code></pre>
          </div>
          <div class="tab-pane" id="codesample4">
            <pre class="prettyprint"><code class="java">import com.github.rmannibucau.cookit.api.recipe.RecipeBuilder;
import javax.inject.Inject;

public class FamilyRecipe extends Recipe {
  @Inject
  private Node node;

  @Override
  protected void configure() {
    switch (node.family()) {
        case "ubuntu":
            System.out.println("Yeah Ubuntu!");
            break;

        case "windows":
            System.out.println("Let's try!");
            break;

        default:
            throw new RuntimeException("?ot sure we should proceed);
    }
  });
}</code></pre>
          </div>
          <div class="tab-pane" id="codesample5">
            <pre class="prettyprint"><code class="java">Recipes.cook(MyRecipe.class);</code></pre>
          </div>
        </div>
      </div>
      <div class="col-sm-5 text-right">
        <h2>Java 8</h2>
        <p>Thanks to Java 8 streams and lambda you can quickly express your recipes.</p>

        <h2>CDI</h2>
        <p>Thanks to CDI integration you can write code as usual if you need and reuse most of your code very easily! No need to lear yet another programming model.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-general">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h3>Goal</h3>
        <i class="glyphicon glyphicon-road bigicon"></i>
        <p>Write <strong>as usual</strong> the way your provision an instance whatever it is a developer instance or a production server one.</p>
      </div>

      <div class="col-sm-6 text-center">
        <h3>Keep your habits</h3>
        <i class="glyphicon glyphicon-refresh bigicon"></i>
        <p>
          CooKit doesn't force you to use its full stack, just reuse Java libraries you are used to.
          CooKit just provides you a simple structure to write and launch recipes with basic bricks.
        </p>
    </div>
  </div>
</div>

<div class="highlight highlight-fun">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>CooKit <em>simple</em></h2>
        <p>DevOps doesn't mean not understandable! Enjoy having reproducible installation without losing any time learning another language.</p>
      </div>
      <div class="col-sm-6 highlight-fun-right">
        <ul>
          <li><p>CooKit is <em>lightweight</em>.</p></li>
          <li><p>CooKit is <em>fast</em>.</p></li>
          <li><p>CooKit is just plan java so ou can crete <em>shades</em> or just launch it with your <em>own classpath</em>.</p></li>
          <li><p>CooKit is <em>extensible</em>.</p></li>
          <li><p>CooKit extenions are <em>powerful</em>.</p></li>
          <li><p>CooKit recipes are <em>composable</em>.</p></li>
        </ul>
      </div>
    </div>

    <div class="row highlight highlight-stack">
      <div class="col-sm-12 text-center">
        <p>CooKit is a solution to standardize writing and execution of provisioning recipes 100% based on Java.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-who">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>CooKit in 3 words</h3>
        <div class="row">
          <div class="col-sm-4 bigtext">
            Java 8
          </div>
          <div class="col-sm-4 owb">
            <img src="img/owb.png" width="150">
          </div>
          <div class="col-sm-4">
            <img src="img/cdi.png" width="300">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 entergame">
            <em>Enter into the game!</em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>